
<app-search (keyword)="search($event)"></app-search>
  <button class="btn btn-success" data-toggle="modal" data-target="#add" style="margin-bottom: 15px"><i class="fa fa-plus"></i> ADD</button>
<select [(ngModel)]="filterCity" class="form-control" style="width: 30%">
    <option value="all" >Tất cả các thành phố</option>
    <option value="Bac Giang" >Bắc Giang</option>
    <option value="Nam Dinh" >Nam Định</option>
  </select>
<div class="custom-control custom-switch pt-3" >
    <input style="size: 40px"  type="checkbox" class="custom-control-input" id="customSwitch1" (click)="hiddenOrShow()" checked>
    <label class="custom-control-label" for="customSwitch1"></label>
  </div>
<app-message  [message]="message" class="message">

</app-message>
  <table class="table" style="margin-top: 10px">
    <thead class="table-secondary">
    <tr>
      <th scope="col">Stt</th>
      <th scope="col" >Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th ></th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let user of searchUser | paginate: { itemsPerPage: 4, currentPage: p } ;let i = index"  >
    <tr *ngIf="showCity(user.address) ">
      <th scope="row">{{i+1}}</th>
      <td >{{user.name}}</td>
      <td>{{user.address}}</td>
      <td>{{user.email}}</td>
      <td [hidden]="hidden"><button type="button" class="btn btn-primary" (click)="edit(user.id)" data-toggle="modal" data-target="#exampleModalLong">
        <i class="fa fa-edit"></i>
      </button></td>
      <td [hidden]="hidden"><button class=" btn btn-danger" (click)="delete(user.id)"><i class="fa fa-trash"></i></button></td>
    </tr>
    </tbody>
  </table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
  <button type="button" (click)="reload()" class="btn btn-success">Refresh <i class="fa fa-refresh fa-spin" style="font-size:20px"></i></button>

  <!--  Modal add-->
  <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addtitle">Thêm ngừoi dùng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label">Id user:</label>
            <input type="text" class="form-control" placeholder="12.." [(ngModel)]="newId">
          </div>
          <div class="form-group">
            <label class="col-form-label">Name user:</label>
            <input type="text" class="form-control" placeholder="Nguyễn Văn A" [(ngModel)]="newName">
          </div>
          <div class="form-group">
            <label class="col-form-label">Address:</label>
            <select [(ngModel)]="newAddress" class="form-control" >
              <option >--Chọn Thành Phố--</option>
              <option  value="Bac Giang">Bac Giang</option>
              <option  value="Nam Dinh">Nam Dinh</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">Email:</label>
            <input type="email" class="form-control" placeholder="exam@gmail.com" [(ngModel)]="newEmail">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal edit -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Chỉnh sủa thông tin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label">Id user:</label>
            <input type="text" class="form-control" placeholder="12.." [(ngModel)]="newId" hidden>
          </div>
          <div class="form-group">
            <label class="col-form-label">Name user:</label>
            <input type="text" class="form-control" placeholder="Nguyễn Văn A" [(ngModel)]="newName">
          </div>
          <div class="form-group">
            <label class="col-form-label">Address:</label>
            <select [(ngModel)]="newAddress" class="form-control" >
              <option >--Chọn Thành Phố--</option>
              <option  value="Bac Giang">Bac Giang</option>
              <option  value="Nam Dinh">Nam Dinh</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">Email:</label>
            <input type="email" class="form-control" placeholder="exam@gmail.com" [(ngModel)]="newEmail">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="update(newId)">Save changes</button>
        </div>
      </div>
    </div>
  </div>


